<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="/styles.css"/>

    <script src=
                    "https://code.jquery.com/jquery-3.6.0.min.js">
    </script>

</head>
<body>


<div th:unless="${session.room_name}">
    <a>Please enter a room name.</a>
    <form method="POST" action="/room">
        <input type="text" name="room_name" />
        <input type="submit" value="Join Room" />
    </form>
</div>

<div th:if="${session.room_name}">

    <h2>Welcome to room <span th:text="${session.room_name}"></span>!</h2>
    <h3>What would you like to listen?</h3>

    </br>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Play!</th>
        </tr>
        <tr th:each="song : ${songs}">
            <td th:text="${song.id}"></td>
            <td th:text="${song.name}"></td>
            <td th:text="${song.type}"></td>
            <td th:text="${song.duration}"></td>
            <td>
                <button th:id="${song.id}">Play</button>
        </tr>
    </table>

    </br>

    <div id="audioDiv"></div>

    </br>

    <a th:if="${message}" th:text="${message}"></a>



    </br>
    <a href="/room">Join another room</a>
    </br>
    <a href="/upload">Upload a new file</a>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script>const roomName = [[${session.room_name}]];</script>
    <script src="/websocket.js"></script>


</div>


</body>
</html>