<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>


<div th:unless="${session.room_name}">
    <a>Please enter a room name.</a>
    <form method="POST" action="/room">
        <input type="text" name="room_name" />
        <input type="submit" value="Join Room" />
    </form>
</div>

<div th:if="${session.room_name}">
    <h2>Welcome to room <span th:text="${session.room_name}"></span>!</h2>
    <h3>What would you like to listen?</h3>

    </br>

    <table>
        <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Duration</th>
            <th>Play!</th>
        </tr>
        <tr th:each="song : ${songs}">
            <td th:text="${song.id}"></td>
            <td th:text="${song.name}"></td>
            <td th:text="${song.type}"></td>
            <td th:text="${song.duration}"></td>
            <td>
                <form method="POST" action="/play">
                    <input type="hidden" name="id" th:value="${song.id}" />
                    <input type="hidden" name="room_name" th:value="${session.room_name}" />
                    <input type="submit" value="Play" />
                </form>
        </tr>
    </table>

    <audio controls>
        <source th:if="${playing_song}" th:src="${playing_song.getData()}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <a th:if="${message}" th:text="${message}"></a>



    </br>
    <a href="/room">Join another room</a>
    </br>
    <a href="/upload">Upload a new file</a>
</div>

<script src="static/websocket.js"></script>
<!-- https://shdhumale.wordpress.com/2022/05/31/websocket-concept-with-java-springboot/ -->
</body>
</html>